#contact {
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh - 91px;
    color: var(--black);
}

#contact_content {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
    flex-wrap: wrap;
}

#description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

#description h1{
    font-size: 1.8rem;
}

.info {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon i{
    color: var(--dark-purple);
}

.icon {
    background-color: var(--ligth-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.15rem;
    border-radius: 100px;
}

.name {
    font-size: 1rem;
    font-weight: 800
}

.details {
    color: var(--black);
}

.value {
    font-size: 1rem;
    font-weight: 400;
}

#contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    gap: 20px;
    background-color: var(--to-ligth-purple);
}

.form-group {
    display: flex;
    gap: 10px;
    justify-content: start;
    flex-direction: column;
    width: 450px;

}

label {
    font-size: 1rem;
    font-weight: 500;
}
input, textarea {
    border: none;
    padding: 7px;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 1.5px var(--purple); 
}

@media screen and (max-width: 1053px) {
    #contact_form {
        width: 55%;
    }
    .form-group {
        width: 100%;
    }

}

@media screen and (max-width: 801px) {
    .info{
        flex-direction: row;
    }
    #contact_form {
        width: 100%;
    }
    #contact {
    padding: 1.5rem;
    }
    #description {
        text-align: center;
        align-items: center;
        width: 100%;
    }
    #contact_form {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }
}

@media screen and (max-width: 725px) {
    .info{
        flex-direction: column;
    }
}